<div class="gh-notification {{ notificationClass }}" [class.fade-out]="visibilityTimeout" role="alertdialog">
  <div class="gh-notification-iconContainer">
    <mat-icon *ngIf="notification.type === notificationType.ERROR" class="gh-notification-icon material-icons" aria-hidden="true">
      error
    </mat-icon>
    <mat-icon *ngIf="notification.type === notificationType.WARNING" class="gh-notification-icon material-icons" aria-hidden="true">
      warning
    </mat-icon>
    <mat-icon *ngIf="notification.type === notificationType.INFO" class="gh-notification-icon material-icons" aria-hidden="true">
      info
    </mat-icon>
    <mat-icon *ngIf="notification.type === notificationType.SUCCESS" class="gh-notification-icon material-icons" aria-hidden="true">
      check_circle
    </mat-icon>
  </div>
  <button type="button" class="gh-notification-close" (click)="removeNotification()">
    <mat-icon>close</mat-icon>
  </button>
  <div class="gh-notification-textContainer gh-notification-standard">
    <span class="gh-notification-title">{{ notification.title }}</span>
    <ng-container *ngIf="notification.description"> {{ notification.description }}</ng-container>
  </div>
</div>
