.gh-notification {
  box-shadow: 1px 2px 3px 0 rgba(#000, 38%);
  display: flex;
  left: 24px;
  position: fixed;
  top: 24px;
  z-index: 1000;

  &.is-hidden {
    display: none;
  }

  &.fade-out {
    opacity: 0;
  }

  &-iconContainer {
    background-color: #d2e8f9;
    border-radius: 4px 0 0 4px;
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    width: 28px;
  }

  &-icon {
    color: #426da9;
    font: {
      size: 20px;
      style: normal;
    }
    margin-top: 10px;
    transform: rotateZ(0.028deg); // This bypasses windows font rendering issues
  }

  &-textContainer {
    background-color: #f6f6f6;
    border-radius: 0 4px 4px 0;
    box-sizing: border-box;
    color: #333;
    flex: 1 1 auto;
    font: {
      size: 14px;
    }
    hyphens: auto;
    margin: 0;
    overflow-wrap: break-word;
    padding: 10px 15px;
    word-break: break-word;
    word-wrap: break-word;
  }

  &-heading {
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
  }

  &-title {
    color: #426da9;
    font: {
      size: 14px;
      weight: 500;
    }
    line-height: 20px;
    margin-right: 20px;
  }

  &-standard &-title {
    display: block;
    margin-bottom: 10px;
  }

  &-close {
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &-close + &-textContainer {
    padding-right: 40px;
  }

  // START ERROR STYLES
  &--error &-iconContainer {
    background-color: #ffdce2;
  }

  &--error &-icon {
    color: #cd0026;
  }

  &--error &-title {
    color: #cd0026;
  }

  &--error &-listItem::before {
    color: #cd0026;
  }
  // END ERROR STYLES

  // START WARNING STYLES
  &--warning &-iconContainer {
    background-color: #fceeba;
  }

  &--warning &-icon {
    color: #ad5700;
  }

  &--warning &-title {
    color: #ad5700;
  }

  &--warning &-listItem::before {
    color: #ad5700;
  }
  // END WARNING STYLES

  // START SUCCESS STYLES
  &--success &-iconContainer {
    background-color: #cdf4d2;
  }

  &--success &-icon {
    color: #007a3b;
  }

  &--success &-title {
    color: #007a3b;
  }

  &--success &-listItem::before {
    color: #007a3b;
  }
  // END SUCCESS STYLES

  // START INVERTED STYLES
  &--inverted &-textContainer {
    background-color: #fff;
    border: {
      bottom: 1px solid #dcdcdc;
      right: 1px solid #dcdcdc;
      top: 1px solid #dcdcdc;
    }
  }
  // END INVERTED STYLES
}
