<div class="gh-department">
  <h2 class="gh-department-title">{{ department.displayName }}</h2>
  <div class="gh-department-objects">
    <div class="gh-department-arrow">
      <button
        mat-icon-button
        (click)="currentPage = currentPage - 1; getNextObjects()"
        *ngIf="currentPage > 1"
        class="gh-department-icon material-icons"
        aria-hidden="true"
      >
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </div>

    <div class="gh-department-object" *ngIf="isLoading && departmentLoading">
      <mat-spinner [color]="'primary'"></mat-spinner>
    </div>

    <ng-container *ngIf="!isLoading || !departmentLoading">
      <ng-container *ngIf="department?.objectData?.total">
        <a class="gh-department-object" *ngFor="let object of department.objects" (click)="openDialog(object.objectID)">
          <img
            class="gh-department-objectImage"
            [src]="object.primaryImageSmall"
            [alt]="object.title"
            [title]="object.title"
            onerror="this.src='/assets/placeholder.svg'"
          />
        </a>
      </ng-container>
      <ng-container *ngIf="!department?.objectData?.total">
        <p class="gh-department-object">No objects found</p>
      </ng-container>
    </ng-container>

    <div class="gh-department-arrow">
      <button
        mat-icon-button
        [color]="'primary'"
        (click)="currentPage = currentPage + 1; getNextObjects()"
        *ngIf="currentPage < lastPage"
        class="gh-department-icon material-icons"
        aria-hidden="true"
      >
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
  </div>
</div>
