.gh-department {
  display: flex;
  flex-direction: column;
  height: 320px;
  width: 100%;

  &-objects {
    align-items: center;
    display: flex;
    height: calc(100% - 24px - (8px * 2));
  }

  &-arrow {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 32px;
  }

  &-object {
    align-items: center;
    display: flex;
    flex: 1 0 0;
    height: 100%;
    justify-content: center;
    margin: 0 16px;
  }

  &-objectImage {
    max-height: 100%;
    max-width: 100%;
  }
}
