<gh-notification></gh-notification>
<div class="gh-app">
  <header class="gh-app-header">
    <h1>Metmuseum</h1>
    <gh-search></gh-search>
  </header>
  <ng-container *ngIf="!isLoading || departmentLoading">
    <ng-container *ngFor="let department of departments; trackBy: trackBy">
      <gh-department [department]="department"></gh-department>
    </ng-container>
  </ng-container>
  <div class="gh-app-loader" *ngIf="isLoading && !departmentLoading">
    <mat-spinner></mat-spinner>
  </div>
</div>
