<h1 mat-dialog-title>{{ data.title }}</h1>
<div class="gh-department-modal-dialog" mat-dialog-content>
  <img class="gh-department-modal-dialogImage" [src]="data.primaryImage" [alt]="data.title" onerror="this.src='/assets/placeholder.svg'" />
  <p *ngIf="data.artistDisplayName"><strong>Artist:</strong> {{ data.artistDisplayName }}</p>
  <p *ngIf="data.period"><strong>Period:</strong> {{ data.period }}</p>
  <p *ngIf="data.objectDate"><strong>Date:</strong> {{ data.objectDate }}</p>
  <p *ngIf="data.culture"><strong>Culture:</strong> {{ data.culture }}</p>
  <p *ngIf="data.medium"><strong>Medium:</strong> {{ data.medium }}</p>
  <p *ngIf="data.dimensions"><strong>Dimensions:</strong> {{ data.dimensions }}</p>
  <p *ngIf="data.classification"><strong>Classification:</strong> {{ data.classification }}</p>
  <p *ngIf="data.accessionNumber"><strong>Accession Number:</strong> {{ data.accessionNumber }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
</div>
