@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,400;0,700;1,400;1,700&family=Titillium+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'app/styles/variables';

//#region Angular Material Theme
$theme-primary: mat.define-palette(mat.$indigo-palette);
$theme-accent: mat.define-palette(mat.$pink-palette, a200, a100, a400);
$theme-warn: mat.define-palette(mat.$red-palette);
$theme-typography: mat.define-typography-config(
  $headline:
    mat.define-typography-level(
      $font-family: '"Josefin Slab", serif',
      $font-size: 28px,
      $line-height: 1,
      $font-weight: 700,
    ),
  $title:
    mat.define-typography-level(
      $font-family: '"Josefin Slab", serif',
      $font-size: 20px,
      $line-height: 1,
      $font-weight: 700,
    ),
  $subheading-1:
    mat.define-typography-level(
      $font-family: '"Josefin Slab", serif',
      $font-size: 16px,
      $line-height: 1,
      $font-weight: 400,
    ),
  $subheading-2:
    mat.define-typography-level(
      $font-family: '"Josefin Slab", serif',
      $font-size: 14px,
      $line-height: 1,
      $font-weight: 400,
    ),
  $body-1:
    mat.define-typography-level(
      $font-family: '"Titillium Web", sans-serif',
      $font-size: 14px,
      $line-height: 1,
      $font-weight: 400,
    ),
  $body-2:
    mat.define-typography-level(
      $font-family: '"Titillium Web", sans-serif',
      $font-size: 14px,
      $line-height: 1,
      $font-weight: 700,
    ),
);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-accent,
      warn: $theme-warn,
    ),
  )
);

@include mat.core($theme-typography);
@include mat.all-component-themes($theme);
//#endregion Angular Material Theme

html,
body {
  height: 100%;
}

body {
  margin: $gridSize * 2;
}
